        * {
            margin: 0;
            padding: 0;
        }
        
        html {
            scroll-behavior: smooth;
        }
        
        nav {
            height: 12vh;
            /* background-color: rgb(156, 149, 149); */
            display: flex;
            position: relative;
            font-family: 'Baloo Paaji 2', cursive;
        }
        
        #navbar::before {
            content: "";
            background-color: black;
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: -1;
            opacity: 0.3;
        }
        
        nav div img {
            height: 84px;
            width: 130px;
            margin-top: 5px;
            margin-left: 42px;
            transition: 5s;
        }
        
        nav div img:hover {
            cursor: pointer;
            /* transform: rotate(0.5turn); */
            transform: translate(1200px, -1%);
        }
        
        ul {
            display: flex;
        }
        
        li {
            color: white;
            list-style: none;
            padding: 23px;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
        }
        
        nav li a {
            display: block;
            padding: 3px 22px;
            border-radius: 20px;
            text-decoration: none;
            color: white;
            transition: 0.2s;
        }
        
        nav li a:hover {
            color: black;
            background-color: white;
            cursor: pointer;
            transform: scale(0.9);
        }
        /* HOME SECTION */
        
        #home {
            display: flex;
            flex-direction: column;
            padding: 3px 200px;
            justify-items: center;
            align-items: center;
            height: 400px;
            margin-top: 100px;
        }
        
        body::before {
            content: "";
            background: url(https://source.unsplash.com/1600x900/?food,fast-food,junk-food)no-repeat center center/cover;
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: -1;
            opacity: 0.89;
        }
        
        .services {
            background-color: rgb(255, 255, 255);
            height: 14vh;
            font-family: 'Bree Serif', serif;
            font-size: 3rem;
        }
        
        .container {
            height: 50vh;
            background-color: white;
            display: flex;
        }
        
        .container:first-child {
            margin-left: 12px;
        }
        
        .card-item {
            padding: 16px;
            width: 395px;
            height: 39vh;
            background-color: rgb(235, 231, 231);
            border: 2px solid brown;
            border-radius: 14px;
            font-family: 'Bree Serif', serif;
            color: black;
            margin-right: 12px;
            margin-left: 12px;
        }
        
        .card-item img {
            transition: 0.1s;
        }
        
        .card-item img:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
        
        .card-item h2 {
            margin-top: 17px;
            margin-bottom: 10px;
            overflow: hidden;
        }
        
        .ftr {
            /* background-color: blue; */
            height: 45vh;
            /* display: flex; */
            /* position: relative; */
        }
        
        .ftr::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 50%;
            background: url(https://source.unsplash.com/1600x900/?clients,collaboration)no-repeat center center/cover;
            opacity: 0.5;
            display: flex;
        }
        
        footer h1 {
            position: relative;
            color: blue;
            text-align: center;
            margin-left: 20px;
        }
        
        .clients {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .logo-item img {
            display: block;
            height: 122px;
            width: 170px;
            margin-bottom: 0px;
            z-index: 1;
            transition: 0.2s;
        }
        
        .logo-item img:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
        
        .logo-item {
            display: flex;
            padding: 29px;
            margin-bottom: -155px;
        }